<form method="post" action="/edit/achive">
  <div class="form-group">
    <label>Name of Contest</label>
    <input type="text" class="form-control" name="contest" placeholder="contest name">
  </div>
  <div class="form-group">
    <label>Name of project</label>
    <input type="text" class="form-control" name="project" placeholder="project name">
  </div>
  <div class="form-group">
    <label>Domain</label>
    <input type="text" class="form-control" name="area" placeholder="Domain area">
  </div>
  <div class="form-group">
    <label>Level of Achivement</label>
    <input type="text" class="form-control" name="level" placeholder="level">
  </div>
  <div class="form-group">
    <label>Team of students</label>
    <input type="text" class="form-control" name="students" placeholder="seperate student names by ;">
  </div>
  <div class="form-group">
    <label>Mentor name</label>
    <input type="text" class="form-control" name="mentor" placeholder="Mentor Name">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>