<h3>
    Update projects
</h3><br />
<form method="post" action="/edit/project">
  <div class="form-group">
    <label>Project Name</label>
    <input type="text" class="form-control" name="project" placeholder="project name">
  </div>
  <div class="form-group">
    <label>Area</label>
    <input type="password" class="form-control" name="area" placeholder="Area">
  </div>
  <div class="form-group">
    <label>team of students</label>
    <input type="password" class="form-control" name="student" placeholder="seperate student names by ;">
  </div>
  <div class="form-group">
    <label>Mentor Name</label>
    <input type="password" class="form-control" name="mentor" placeholder="Mentor">
  </div>
  <div class="form-group">
    <label>Any link</label>
    <input type="password" class="form-control" name="link" placeholder="link">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>