<form method="post" action="/edit/student">
<div class="form-group">
    <label>
    <input type="radio"  value="2" name="year" >  2 nd year </label>
   <label>
    <input type="radio"  value="3" name="year" >  3 rd year</label>
    <label>
    <input type="radio"  value="4" name="year" >  4 th year</label>
  </div>
  <div class="form-group">
    <label>Name of student</label>
    <input type="text" class="form-control" required="required" name="student" placeholder="company">
  </div>
  <div class="form-group">
    <label>Roll number</label>
    <input type="text" class="form-control" name="number" placeholder="name">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>