<form method="post" action="/edit/workshop">
  <div class="form-group">
    <label>Workshop Name</label>
    <input type="text" class="form-control"  name="workshop" placeholder="company">
  </div>
  <div class="form-group">
    <label>Resource person name</label>
    <input type="text" class="form-control" name="name" placeholder="name">
  </div>
  <div class="form-group">
    <label>Loaction</label>
    <input type="text" class="form-control" name="package" placeholder="package">
  </div>
  <div class="form-group">
      <label>Start date</label>
      <input type="date" name="startdate"/>
      <label>End date</label>
      <input type="date" name="enddate"/>
  </div>
  
  <button type="submit" class="btn btn-default">Submit</button>
</form>