<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <nav>
            {{#if user}}
                <li role="presentation"><a href="/logout">Logout</a></li>
            {{else}}
                <li role="presentation"><a href="/adminlogin">Admin login</a></li>
            {{/if}}
        </nav>

        <h1>
            Embedded Systems Lab
        </h1>
        {{{body}}}
    </body>
</html>
