<div>
    <img src="/css/title.jpg" width="700px">
<div class="main">
    <h1 class="head">Embedded Systems Lab</h1>
</div>
<br><br>
<h3 class="casfont">Faculty Coordinator:R.Anirudh Reddy</h3>    

<h3 class="casfont">Members:Dr.R.Balaji, Ms. Meena, Ms. Anisha</h3> <br>
<h4 class="sidefont">Objectives of Embedded Systems Lab:</h4>
<p class="textfont">
To learn Basic hardware and software concepts in the analysis and design of embedded systems, peripheral interfaces and performance analysis with hands-on design project.

To design embedded computer system hardware

To formulate an embedded computer system design problem including multiple constraints, create a design that satisfies the constraints, implement the design in hardware and software, and measure performance against the design constraints
</p><br>
<h4 class="sidefont">How the lab is embedded into the curriculum:</h4>
<p class="textfont">
    

The lab provides a perfect platform for acquiring basic knowledge on Microcontrollers and Microprocessors. Learning Embedded-C Coding skills can make them programming easily for microcontrollers. With this software and hardware skills one can easily do any mini or major projects.
</p>
<br>
<div>
<h4 class="sidefont">Software Tools :</h4>
<table class="textfont" align="center">
    <tr>
        <th style="width:50px">SNo</th>
        <th style="width:500px">software</th>
    </tr>
    <tr>
        <td></td>
        <td>Ardunio IDE</td>
    </tr>
    <tr>
        <td></td>
        <td>Keil µvisin-4</td>
    </tr>
    <tr>
        <td></td>
        <td>Atmel Studio 6.2</td>
    </tr>
    <tr>
        <td></td>
        <td>Energia IDE</td>
    </tr>
    <tr>
        <td></td>
        <td>Python 3.4.1</td>
    </tr>
</table>
</div>
<br>
<div>
<h4 class="sidefont">Hardware : </h4>
<table class="textfont" align="center">
    <tr>
        <th style="width:50px">S.No</td>
        <th style="width:500px">Hardware</th>
    </tr>
    <tr>
        <td></td>
        <td>Arduino Uno/Mega Boards</td>
    </tr>
    <tr>
        <td></td>
        <td>AVR XMEGA-A3BU Xplained Pro Evaluation Kit</td>
    </tr>
    <tr>
        <td></td>
        <td>8051Development Boards</td>
    </tr>
    <tr>
        <td></td>
        <td>ARM LPC 2148 Development Boards</td>
    </tr>
    <tr>
        <td></td>
        <td>Node MCU Boards</td>
    </tr>
</table>
</div>
</div>