{{#if data}}
    {{#each data}}
        <div class="projectback">  
            <h1 class="projectfont">{{this.name}}</h1><br>
            {{this.year}}<br>
            {{this.number}}<br>
            
        </div>
    {{/each}}
{{/if}}